[Unit]
Description=BlinkDRS Controller
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=dan
Group=dan
WorkingDirectory=/home/dan/BlinkDRS-Controller
ExecStart=/home/dan/BlinkDRS-Controller/.venv/bin/python /home/dan/BlinkDRS-Controller/blink_dvr.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target